html
    head
        title Weather app 
        style
            include ./style.css
    body
        form(action='/', method='POST')
            p  CITY : 
                input(type='text', name="temp" placeholder="Enter city name")
                input(type='submit', value ="Submit") 


            